@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500&family=Dosis&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
   text-align: center;
   font-family: 'Poppins', sans-serif;
   margin-top: 4px;
   font-weight: bold;
}
div{
   font-family: 'Dosis', sans-serif;
}
section{
   background-image: url("https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=996&t=st=1687872269~exp=1687872869~hmac=2d9aedbbeea8ea6df0118f9a2ae7d464c1a8c80ec6ec426c198f1e0929ac352d");
   font-weight: bold;
   margin-left:20px;
 }
 .main-content{

   margin-left:250px;
 }
  *{
    box-sizing: border-box;
  }
  #sidebarMenu{
    height:90%;
    position:fixed;
    left:0;    /* position of sidebar topics    */
    top:20px;       /* position of sidebar topics    */
    width:200px;
    margin-top:80px;
    /*color of sidebar topics   */
  }
  .menu{
    list-style: none;  /*for removing dotted part from the list*/
    padding:0;    /* for removing space from the left*/
    margin:0;  /* for removing space from the top*/
  }
  /*.menu li{
    color:rgb(70,192,14);
    border-bottom:1 px solid #456;  /*for the border color or the line after each topic*/
  /*}
  .menu li a{
    color:rgb(7,7,48);   /* the color of each link  */
  /*  display:block;
    text-decoration: none;  /* for the underline from each topic so that it does not look like a link  */
  /*  text-transform: uppercase;  /* for changing each char of the topic to uppercase*/
  /*  padding: 20px;  /* to create space between each and every topic  */
  /* } */
  .sidebarIcon{    /*  for making toggle button design*/
    width:22px;
    height:22px;
    position:absolute;
    z-index:20;
    top:50px;
    left:5px;
    /* background-color: aliceblue; */ /* color of the toggle button   */
    cursor:pointer;
    margin-bottom:5px;
  }
  #Open{
    display:none;
  }
  #Open:checked ~ #sidebarMenu{
       
    transform: translate(0px); /*for making sidebar appear by a click*/
  
  }
  
  @media(max-width:915px){
    .main-content{
      margin-left:0px;
   }
    #sidebarMenu{
      transform: translateX(-300px); /*  for disappearing the sidebar whose width 250px */
      transition: transform 300ms ease-in-out;
    }
    .wrapper{
      height:3px;
      background-color: orange;
      transition: all 0.5s;
    }
  .wrapper.second, .wrapper.third{
    margin-top:3px;                  /* for creating 2 lines in the button  */
  }
  #Open:checked ~ .sidebarIcon > .wrapper.second{
    opacity:0;
  }
  #Open:checked ~ .sidebarIcon > .wrapper.first{
    transform: rotate(315deg);
    margin-top:8px;
  }
  #Open:checked ~ .sidebarIcon > .wrapper.third{
    transform: rotate(-315deg);
    margin-top: -9px;
  }
  }
  #sidebarMenu{
   top: 0;
   bottom:0;
   position:fixed;
   overflow-y: scroll;
   width:250px;
 }