<header>
      <nav class="navbar">
      <a class="nav-branding" href="#">System Design Tutorial</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="methodology" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Methodology</a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" routerLink="casestudies" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Case Studies </a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" routerLink="practices" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Best Practices </a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" routerLink="tool" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Tools &amp; Resources  </a>
           </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
          </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
    </nav>
  </header> 