<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <a class="navbar-brand" href="#">System Design Tutorial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="methodology" >Methodology</a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" routerLink="casestudies">
             Case Studies +
             <ul>
                <li>Netflix</li>
                <li>Uber</li>
                <li>Airbnb</li>
                <li>Amazon Web Services(AWS)</li>
                <li>Facebook</li>
                </ul>
              
            </a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" routerLink="practices">
              Best Practices +
             <ul>
                <li>Modularity</li>
                <li>Scalability</li>
                <li>Reliability</li>
                <li>Security</li>
                <li>Maintainability</li>
                <li> Testability</li>
                <li>Flexibility and Extensibility</li>
                <li>Iterative Design</li>
                <li>Continuous Improvement</li>
                </ul>
              </a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" routerLink="tool">
             Tools &amp; Resources +
              <ul>
               <li>Software</li>
               <li>Books</li>
               <li> Online Resources</li>
                </ul>
             
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
          </ul>
      </div>
    </nav>
  </header>
 