<section class="about-section">
    <h1>About</h1>
    <hr>
    <br>
    <div>
    <p>Welcome to the System Design Tutorial website! We are dedicated to providing you with comprehensive resources and tutorials to master the art of system design.</p>
    <p>Our mission is to empower developers and architects with the knowledge and skills to design scalable, robust, and efficient systems. Whether you're a beginner or an experienced professional, our tutorials will guide you through the principles, patterns, and best practices of system design.</p>
    <p>Explore our tutorials, case studies, and practical examples to learn how to design systems that can handle millions of users, ensure high availability, and deliver exceptional performance. Stay updated with the latest trends and technologies in system design to stay ahead in your career.</p>
  </div>
  <!-- <div id= "table">
  <app-table [data]= "topics"></app-table>
  </div> -->
  <app-imagepopup></app-imagepopup>
</section>