 .main-content{

  margin-left:250px;
}
 *{
   box-sizing: border-box;
 }
 #sidebarMenu{
   height:63%;
   position:fixed;
   left:0;    
   top:20px;      
   width:200px;
   margin-top:80px;
   
 }
 .sideview{
  margin-left: 250px;
 }
 .menu{
   list-style: none;  
   padding:0;    
   margin:0;  
 }
 .sidebarIcon{   
   width:22px;
   height:22px;
   position:absolute;
   z-index:20;
   top:50px;
   left:5px;
   cursor:pointer;
   margin-bottom:5px;
 }
 #Open{
   display:none;
 }
 #Open:checked ~ #sidebarMenu{
      
   transform: translate(0px); 
 
 }
 
 @media(max-width:915px){
  .sideview{
    margin-left: 0px;
   }
   .main-content{
     margin-left:0px;
  }
   #sidebarMenu{
     transform: translateX(-300px); 
     transition: transform 300ms ease-in-out;
   }
   .wrapper{
     height:3px;
     background-color: orange;
     transition: all 0.5s;
   }
 .wrapper.second, .wrapper.third{
   margin-top:3px;                  
 }
 #Open:checked ~ .sidebarIcon > .wrapper.second{
   opacity:0;
 }
 #Open:checked ~ .sidebarIcon > .wrapper.first{
   transform: rotate(315deg);
   margin-top:8px;
 }
 #Open:checked ~ .sidebarIcon > .wrapper.third{
   transform: rotate(-315deg);
   margin-top: -9px;
 }
 }
 #sidebarMenu{
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y: scroll;
  width:250px;
}
.subhead{
  text-align:center;
  margin: 10px;
  font-weight: bolder;
}