@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500&family=Dosis&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto:ital,wght@1,100&display=swap');

#topicname, .subtopics{
  font-family: 'Dosis', sans-serif;
  font-size:15px;
  font-weight:bold;
}
.sidebar {
    width: 24%;
    min-width: 240px;
    background-color: #f8f9fa;
    transition: width 0.3s ease;
  }
  
  .collapsed {
    width: 0;
  }
  
  .sidebar ul {
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    list-style-type: none;
  }
  
  .sidebar .nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .sidebar .nav-link:hover {
    background-color: #e9ecef;
  }
  
  .toggle-btn {
    position: absolute;
    top: 10px;
    right: -30px;
    background: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }

  .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .topics {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /*.topic {
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }*/
  
  .topic i {
    margin-right: 2px;
  }
  
  .subtopics {
    list-style-type:circle;
    margin: 0;
    padding: 0;
    margin-left: 2px;
  }
  
  .subtopic {
    margin-bottom: 5px;
  }  
  
  .sidebar li a:hover{
    color:green;
  }
  a.active{
    background-color: rgb(67, 222, 170);
    color:#fff;
  }
  /* .subtopics li a:visited{
    color:pink;
  } */