<section class="blog-section">
    <p>
        <h1>Blogs</h1>
        <hr>
        <br>
        <ul>
            <li><h3>The Pragmatic Engineer:</h3>This blog by Michael Feathers covers many topics related to software engineering, including system design.
                <br>
                <a href="https://www.pragmaticengineer.com/" >pragmaticengineer</a>  
            </li>
            <br>
            <li><h3>Level Up Engineering: </h3>This blog by Martin Fowler covers many topics related to software architecture, including system design.
              <br>
                <a href="https://www.springboard.com/blog/data-science/data-engineering-projects/">springboard</a>
            </li>
            <br>
            <li>
                <h3>Engineering.SE:</h3>This website is a Q&A forum for engineers. There are many questions and answers related to system design.
                <br>
                <a href="https://fractory.com/best-websites-for-mechanical-engineers/">Fractory</a>
            </li>
            <br>
            <li>
                <h3>Software Engineering Daily: </h3>This podcast interviews software engineers about their work. There are many episodes that discuss system design.
                <br>
                <a href="https://www.heroku.com/podcasts/software-engineering-daily">Heroku</a>
            </li>
            <br>
            <li>
                <h3>System Design 101:</h3> This blog by Martin Kleppmann provides a comprehensive overview of system design.
                <br>
                <a href="https://towardsdatascience.com/system-design-101-b8f15162ef7c">TowardsDataScience</a>
            </li>
        </ul>
    <app-image [imageUrl]="image" [imagedescrip]="describe"></app-image>
</section>